@import '../../base/scss/index.scss';

@mixin empty-msg() {
	margin: 200px;
	color: $err-color;
	text-align: center;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}

@mixin size($value) {
	width: $value;
	height: $value;
}

@mixin fx-center() {
	display: flex;
	justify-content: center;
	align-items: center;
}